<div class="mb-3 AddTaskComponent">
  <form>
    <label for="exampleFormControlInput1" class="form-label"
      >Create New Task</label
    >
    <input
      type="text"
      class="form-control"
      id="exampleFormControlInput1"
      name="name"
    />
    <input type="datetime-local" class="form-control" name="time" />

    <select
      class="form-select"
      aria-label="Default select example"
      name="group"
    >
      <option selected>Select group</option>
    </select>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-3">Add task</button>
    </div>
  </form>
</div>
