<div class="mb-3 AddGroupComponent">
  <form>
    <label for="exampleFormControlInput1" class="form-label"
      >Create New Group</label
    >
    <input
      type="text"
      class="form-control"
      id="exampleFormControlInput1"
      name="name"
    />
    <select
      class="form-select"
      aria-label="Default select example"
      name="color"
    >
      <option selected>Select color</option>
      <option value="blue">Blue</option>
      <option value="red">Red</option>
      <option value="yellow">Yellow</option>
      <option value="pink">Pink</option>
      <option value="green">Green</option>
    </select>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-3">Add group</button>
    </div>
  </form>
</div>
