$body-color: slateblue;

body {
  color: $body-color;
  font-family: sans-serif;
}

.toast-wrapper {
  position: fixed;
  top: 0;
}

header {
  justify-content: space-between;
}

.nav-item {
  border-radius: 10px;

  &:hover {
    background-color: rgba(66, 156, 240, 0.486);
  }
}
